#about-page {
    display: flex;
    justify-content: center;
}

#about-body {
    width: 55em;
    border: 1px solid var(--color-1);
    border-radius: 10px;
}

#projects-button {
    font-size: 1.25em;
    border: 1px solid var(--color-1);
    width: fit-content;
    color: #6d6dff;
}

#projects-button:hover {
    background-color: var(--color-2);
}

.section-desc {
    /* margin: 0 2em; */
    list-style-position: inside;
    list-style-type: '→ ';
}

.section-desc>* {
    margin-top: 0.25em;
}


.dropdown-container {
    margin-top: 0.5em;
    margin-left: 1em;
}

.dropdown-caret {
    width: 1em;
    display: inline-block;
    user-select: none;
    transition: transform 150ms ease;
    line-height: 0;
    color: #4b4bb6;
}

.dropdown-title {
    cursor: pointer;
    width: fit-content;
}

.dropdown-text {
    margin-left: 0.5em;
    color: #6d6dff;
}

.dropdown-contents {
    margin-left: 1.5em;
}